<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.studiou.classseatnotifiercore.major">
    <select id="selectMajorCodeList" resultType="String">
        SELECT MAJOR_CODE FROM MAJOR
    </select>
    <insert id="insertMajorInfo" parameterType="map">
        INSERT INTO MAJOR
        (MAJOR_CODE, MAJOR_NAME)
        VALUES
        (#{MAJOR_CODE}, #{MAJOR_NAME})
        ON DUPLICATE KEY UPDATE
        MAJOR_NAME=#{MAJOR_NAME}
    </insert>
</mapper>